@model MVCCrud.Models.View_models.Empleadosviewmodels
@{
    ViewBag.Title = "Crear";
}

<h2>ViewBag.Title</h2>


@using (Html.BeginForm("Crear", "Empleados", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.Cargo)
                @Html.TextBoxFor(d => d.Cargo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Cargo, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.FechaContratacion)
                @Html.TextBoxFor(d => d.FechaContratacion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.FechaContratacion, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.TipoContratacion)
                @Html.TextBoxFor(d => d.TipoContratacion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.TipoContratacion, null, new { @class = "red" })

            </div>
            <br />

            <div style="text-align:right;">
                <a class="btn btn-primary" type="button" href="~/Empleados"> Cancelar </a>
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>

    </div>
}

