@model MVCCrud.Models.View_models.  Personasviewmodels
@{
    ViewBag.Title = "Nuevo";
}

<h2>ViewBag.Title</h2>


@using (Html.BeginForm("Editar", "Empleado", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.Id)
            <div>
                @Html.LabelFor(d => d.Cargo)
                @Html.TextBoxFor(d => d.Cargo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Cargo, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.FechaContratacion)
                @Html.TextBoxFor(d => d.FechaContratacion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.FechaContratacion, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.TipoContrato)
                @Html.TextBoxFor(d => d.TipoContrato, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.TipoContrato, null, new { @class = "red" })

            </div>
            <br />

            <div style="text-align:right;">
                <a class="btn btn-primary" type="button" href="~/Usuarios"> Cancelar </a>

                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>

    </div>
}
