@model MVCCrud.Models.View_models.Usuarioviewmodels
@{
    ViewBag.Title = "Crear";
}

<h2>ViewBag.Title</h2>


@using (Html.BeginForm("Crear", "Usuario", FormMethod.Post)) {
<div class="row">
    <div class="col-md-12">
        <div>
            @Html.LabelFor(d => d.Id)
            @Html.TextBoxFor(d => d.Id, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Id, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.Email)
            @Html.TextBoxFor(d => d.Email, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Email, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.Password)
            @Html.TextBoxFor(d => d.Password, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Password, null, new { @class = "red" })

        </div>
        <div>
            @Html.LabelFor(d => d.IdRol)
            @Html.TextBoxFor(d => d.IdRol, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.IdRol, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.IdPersona)
            @Html.TextBoxFor(d => d.IdPersona, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.IdPersona, null, new { @class = "red" })
        </div>
        <br />

        <div style="text-align:right;">
            <a class="btn btn-primary" type="button" href="~/Usuarios"> Cancelar </a>
            <input value="Guardar" class="btn btn-primary" type="submit" />
        </div>
    </div>

</div>
}

