@model List<MVCCrud.Models.View_models.Usuarioviewmodels>
@{
    ViewBag.Title = "Mis datos";
}

<h2>ViewBag.Title</h2>


<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Usuario/Crear" class="btn btn-primary">Crear </a> 
</div>  
<div class="row">
    <div class=" col-md-12">
        <table class="table">
            <tr>
                <th>IdUsuario</th>
                <th>Email</th>
                <th>Password</th>
                <th>IdRol</th>
                <th>IdPersona</th>
                <th></th>
                
            </tr>
            @foreach (var oElemento in Model)
            {
              <tr>
                     <td>@oElemento.Id</td>
                     <td>@oElemento.Email</td>
                     <td>@oElemento.Password</td>
                     <td>@oElemento.IdRol</td>
                     <td>@oElemento.IdPersona</td>
                 <td>
                     <a class="btn btn-default" href="~/Usuario/Editar/@oElemento.Id">Editar</a>
                     <a class="btn btn-danger" href="~/Usuario/Eliminar/@oElemento.Id">Eliminar</a>
                 </td>

               </tr>
            }
        </table>

    </div>


</div>
