@model MVCCrud.Models.View_models.Rolesviewmodels
@{
    ViewBag.Title = "Crear";
}

<h2>ViewBag.Title</h2>


@using (Html.BeginForm("Editar", "Roles", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.Id)
            <div>
                @Html.LabelFor(d => d.IdRol)
                @Html.TextBoxFor(d => d.IdRol, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.IdRol, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Rol)
                @Html.TextBoxFor(d => d.Rol, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Rol, null, new { @class = "red" })
            </div>

            <br />

            <div style="text-align:right;">
                <a class="btn btn-primary" type="button" href="~/Personas"> Cancelar </a>

                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>

    </div>
}

